<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
    th.demo-table-info-column {
        text-align: center !important;
    }

    td.demo-table-info-column {
        text-align: center !important;
    }

    span.item {
        margin-left: 10px;
    }
</style>
<link href="/css/iview.css" rel="styleSheet"></link>
<script src="/js/vue.min.js"></script>
<script src="/js/iview.min.js"></script>
</head>
<body>

<script type="text/javascript">

</script>
</body>
</html>